
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500;600&display=swap');

/* ALL */

.all-padding{
    padding: 100px 0 30px 0;
}

.header-top {
    width: 100%;
    height: 40px;
    background-color: #000000;
}

.box-header {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 60px;
}

.header-logo {
    /* height: 24px; */
}

.header-logo--img {
    /* height: 24px; */
}



/* cart */

.cart{
    font-size: 40px;
    position: relative;
}
.cart:after {
    content: attr(value);
    font-size: 17px;
    color: #D70018;
    position: absolute;
    top: 50%;
    right: 35%;
}

.btn-cart{
    height: 40px !important;
}


.nav-sub-link{
    color: #000;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}


/* Home Product */
.title-category{
    margin: 30px 0;
    font-size: 40px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    color: #000 !important;
}

#product-item{
    max-height: 400px;
    height: 400px;
    position: relative;
    margin: 0 1px 15px 1px;
    padding: 0;
}

#product-item::before{
    content: 'Hot';
    padding: 0 0 0 10px;
    font-weight: 600;
    width: 53px;
    z-index: 1;
    color: #fff;
    height: auto;
    position: absolute;
    background-color: red;
    border-top-left-radius: 10px;
    left: 0;
    border-bottom-right-radius: 10px;
}

#product-item img {
    height: 160px;
}

#product-item .item{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 3px #ccc;
}

#product-item .content .name-product{
    height: 75px;
    margin-bottom: 20px;
    overflow: hidden;
}
#product-item .name-product .product-link-detail{
    text-decoration: none;
    color: #000;
}

#product-item .content .price-product{
    font-size: 16px;
    font-weight: 600;
    font-family: 'Bai Jamjuree', sans-serif;
    color: #D70018;
}

#product-item .image{
    margin: 0 auto;
    height: 45%;
}

.addcart{
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#product-item .item .content{
    padding: 10px;
    height: 40%;
    overflow: hidden;
}

.tym {
    color : #D70018;
}


/* page banner */
.carousel-control-prev{
    width: fit-content;
    justify-content: start;
}

.carousel-control-next{
    justify-content: end;
    width: fit-content;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    border: 1px solid #000;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    background-image: none;
}

/* footer */